/* General */

* {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #000;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:hover {
  color: #c897db;
}

p {
  margin: 0px;
}

img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

h1 {
  font-weight: 200;
  font-size: 40px;
  margin: 0px;
}

h2 {
  color: #b870d4;
  font-size: 28px;
  text-transform: none;
}

h3 {
  font-size: 26px;
  margin: 0px;
}

h4 {
  margin: 0px;
}

hr {
  border-width: 1.5px;
  border-style: solid;
  border-color: #c897db;
}

main {
  max-width: 800px;
  margin: auto;
}


/* Large Format */

@media (min-width: 495px) {
  hr {
    margin: 2% 0px;
  }
  h2 {
    margin: 0px 1% 1% 1%;
  }
  .logo {
    width: 10%;
  }
  .description {
    bottom: 80px;
  }
  .figures {
    display: flex;
    display: -webkit-flex;
  }
  .center {
    margin: 0px 1.5%;
  }
  .left {
    margin: 0px 1.5% 0px 0px;
  }
  .right {
    margin: 0px 0px 0px 1.5%;
  }
}


/* Transitional Format */

@media (min-width: 401px) and (max-width: 494px) {
  hr {
    margin: 4% 0px;
  }
  h2 {
    margin: 10% 1% 0px 0px;
  }
  .splash {
    height: 200px;
  }
  .logo {
    width: 25%;
  }
  .description {
    bottom: 100px;
  }
}


/* Small Format */

@media (max-width: 400px) {
  hr {
    margin: 4% 0px;
  }
  h2 {
    margin: 10% 1% 0px 0px;
  }
  .splash {
    height: 160px;
  }
  .logo {
    width: 25%;
  }
  .description {
    bottom: 100px;
  }
}


/* Header */

header {
  max-height: 100px;
  text-align: right;
  margin: 1% 0px;
  display: flex;
  display: -webkit-flex;
  align-items: flex-start;
}

.header-text {
  width: 90%;
}


/* Splash */

.splash {
  max-height: 400px;
}

.splash:hover .splash-image {
  opacity: .3;
}

.splash:hover .description {
  visibility: visible;
}

.description {
  padding: 1%;
  position: relative;
  left: 0px;
  text-transform: none;
  text-align: right;
  color: #fff;
  background-color: #c897db;
  visibility: hidden;
}


/* Featured Work */

figure {
  width: 100%;
  margin: 1% 0px;
  text-align: center;
}

figcaption {
  text-transform: none;
  font-weight: 200;
  font-size: 13px;
}
