/* General */

* {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #2d3c49;
  box-sizing: border-box;
}

a {
  text-decoration: inherit;
}

p {
  margin: 0px;
}

img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

h1 {
  font-weight: 200;
  font-size: 40px;
  margin: 0px;
}

h2 {
  color: #7d97ad;
  font-size: 28px;
  text-transform: none;
  margin: 0px 1% 1% 1%;
}

h3 {
  font-size: 26px;
  margin: 0px;
}

h3:hover {
  color: #02b3e4;
}

h4 {
  margin: 0px;
}

main {
  max-width: 800px;
  margin: auto;
}

hr {
  border-width: 1.5px;
  border-style: solid;
  border-color: #7d97ad;
  margin: 2% 0px;
}


/* Header */

header {
  max-height: 100px;
  text-align: right;
  margin: 1% 0px;
  display: flex;
  display: -webkit-flex;
  align-items: flex-start;
}

.logo {
  width: 10%;
}

.header-text {
  width: 90%;
}


/* Splash */

.splash:hover .splash-image {
  opacity: .3;
}

.splash:hover .description {
  visibility: visible;
}

.splash .description {
  position: relative;
  bottom: 30px;
  left: 0px;
  text-transform: none;
  text-align: right;
  color: #000;
  background-color: #ccc;
  visibility: hidden;
}


/* Featured Work */

figure {
  width: 100%;
  margin: 1% 0px;
  text-align: center;
}

.center {
  margin: 0px 1.5%;
}

.left {
  margin: 0px 1.5% 0px 0px;
}

.right {
  margin: 0px 0px 0px 1.5%;
}

figcaption {
  text-transform: none;
  font-weight: 200;
  font-size: 13px;
}

.figures {
  display: flex;
  display: -webkit-flex;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
}
